.custom-table-paging {
  padding: 3px; }
  .custom-table-paging .paging-right-sitde {
    width: 210px;
    margin-left: auto; }
  .custom-table-paging .paging-button {
    width: 30px;
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px; }
    .custom-table-paging .paging-button:hover, .custom-table-paging .paging-button:focus, .custom-table-paging .paging-button.focus {
      color: #333;
      text-decoration: none; }
    .custom-table-paging .paging-button:active, .custom-table-paging .paging-button.active {
      background-image: none;
      outline: 0;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
    .custom-table-paging .paging-button.disabled, .custom-table-paging .paging-button[disabled] {
      cursor: not-allowed;
      filter: alpha(opacity=65);
      box-shadow: none;
      opacity: .65; }
  .custom-table-paging .paging-disp {
    width: 60px;
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle; }

.custom-table {
  background-color: #e8e8e8;
  height: 400px;
  border: 1px solid #aaa; }
  .custom-table * {
    box-sizing: border-box; }
  .custom-table .custom-table-header {
    overflow-x: hidden; }
  .custom-table .custom-table-header-width-with-scroll {
    width: calc(100% - 17px); }
  .custom-table .custom-table-header-row {
    background-color: #b9b8d6;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid aaaaaa; }
    .custom-table .custom-table-header-row div {
      font-size: 1.2em;
      min-height: 30px;
      padding: 5px;
      border-right: 1px solid #ffffff; }
      .custom-table .custom-table-header-row div.last-item {
        border-right: none; }
  .custom-table .custom-table-body {
    overflow: auto;
    height: 370px; }
  .custom-table .custom-table-row {
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #aaaaaa;
    background-color: #fff; }
    .custom-table .custom-table-row.last-row {
      border-bottom: none; }
    .custom-table .custom-table-row div {
      min-height: 30px;
      display: inline-block;
      vertical-align: middle;
      padding: 5px;
      word-break: break-all;
      border-right: 1px solid #aaaaaa; }
      .custom-table .custom-table-row div.last-item {
        border-right: none; }
